body{
    background-color: white;
}

header{
    z-index: 100;
}

.tab-content{
    color: black;
}

.container{
    z-index: -1;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: rgb(206, 206, 21);
}

.signo-precio{
    display: flex;
}